* {
    font-family: 'Roboto', sans-serif;
    color: black;
  }

  :root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    width:600px;
    height:600px;
    /*grid-gap: 1em;*/
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border:black dashed 10px;
    margin:auto;
    margin-top:150px;
  }
  
  .grid-item {
    padding: 3px;
    border: 1px solid black;
    text-align: center;
  }

  .title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background:blue;*/
    width: auto;
    height: auto;
    border:red dashed;
    font-size: 30px;
    font-weight: bold;
    margin-top:50px;
  }



  body {
    /*background-color: #d3d3d3;*/
    background: rgb(174,188,191);
    background: linear-gradient(0deg, rgba(174,188,191,1) 26%, rgba(211,211,211,1) 95%);
    
  }

  html{
    height:100%;
  }

  * {
    font-family: 'Roboto', sans-serif;
    color: black;
  }